:root {
    /* Text colors */
    --pale-violet: hsl(276, 100%, 81%); /* sub-heading at the top of the app UI */
    --moderate-violet: hsl(276, 55%, 52%); /* chat on the left */
    --desaturated-dark-violet: hsl(271, 15%, 43%); /* chat on the right */
    --grayish-blue: hsl(206, 6%, 79%); /* placeholder text */
    --very-dark-desaturated-violet: hsl(271, 36%, 24%); /* main heading and submit button background */
    --dark-grayish-violet: hsl(270, 7%, 64%); /* paragraph */
    /* Gradients */
    --light-magenta-gradient: hsl(293, 100%, 63%);
    --light-violet-gradient: hsl(264, 100%, 61%);
    /* Secundary colors */
    --white: hsl(0, 0%, 100%);
    --light-grayish-violet: hsl(270, 20%, 96%); /* app background */
    --very-light-magenta: hsl(289, 100%, 72%); /* radio button outline */

    --dialog-left-background: hsl(266, 39%, 93%);
}
* {
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}
body {
    width: 100vw;
    background-color: var(--light-grayish-violet);
    margin: 0;
}
.container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

/* ------------------------  BACKGROUND  ------------------------ */

.background {
    position: absolute;
    width: 100vw;
    height: 80vh;
    z-index: -1;
}
.background__top-left {
    background-color: var(--light-violet-gradient);
    border-bottom-left-radius: 200px;
    border-bottom-right-radius: 200px;
    transform: translateX(-50vw);
}
.background__bottom-right {
    background-color: var(--dialog-left-background);
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
    transform: translate(50vw, 40vh);
}

/* ----------------------  APP CONTAINER  ----------------------- */

.app-container {
    background-color: var(--light-grayish-violet);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(10, auto);
    width: 270px;
    border: 8px solid var(--white);
    border-radius: 30px;
    overflow: hidden;
    margin-bottom: 40px;
    margin-top: 40px;
    filter: drop-shadow(5px 5px 15px var(--grayish-blue));
}

/* -------- App Container header ----------- */

.app-container__header {
    display: flex;
    flex-direction: column;
    background: linear-gradient(to right, var(--light-violet-gradient), var(--light-magenta-gradient));
    border-radius: 5px;
    color: var(--white);
    height: 75px;
    margin-bottom: 15px;
}
.app-container__header-top {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    height: 18px;
    width: 100%;
    margin-bottom: 12px;
}
.app-container__header-top-notch {
    width: 55%;
    height: 100%;
    background-color: white;
    border-radius: 0px 0px 17px 17px;
}
.app-container__header-bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}
.app-container__header-content-id {
    display: flex;
    flex-direction: column;
    width: 80%;
}
.app-container__header-portrait {
    display: flex;
    align-items: center;
    padding-right: 10px;
}
.app-container__header-portrait-avatar {
    width: 30px;
    border: 2px solid var(--white);
    border-radius: 100%;
    align-self: center;
}
.app-container__header-content-id-state {
    color: var(--pale-violet);
    margin: 0;
    font-size: .6em;
}
.app-container__header-content-id-name {
    margin: 0px 0px 3px 0px;
    font-weight: bold;
    font-size: .8em;
}
.material-icons.md-18 { 
    font-size: 18px; 
}

/* -------- App Container dialogs ----------- */

.dialog {
    display: block;
    width: 60%;
    font-size: .6em;
    padding: 8px;
    margin-bottom: 10px;
    line-height: 1.3em;
}
.app-container__dialog {
    color: var(--moderate-violet);
    background-color: var(--dialog-left-background);
    border-radius: 13px 13px 13px 5px;
    margin-left: 10px;
}
.app-container__dialog-sended {
    color: var(--dark-grayish-violet);
    background-color: var(--white);
    justify-self: flex-end;
    margin-right: 10px;
    border-radius: 13px 13px 5px 13px;
    filter: drop-shadow(0px 2px 7px var(--grayish-blue));
}
.special {
    width: 40%;
}

/* -------- App Container thumbs ----------- */

.app-container__thumbs {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 8px;
}
.app-container__thumbs-picture {
    width: 45px;
    border-radius: 25%;
    margin-right: 8px;
}

/* -------- App Container options ----------- */

.app-container__dialog-price {
    background: linear-gradient(to left, var(--light-violet-gradient), var(--light-magenta-gradient)); 
    color: var(--white);
    width: 70%;
    margin-left: 10px;
    font-size: .6em;
    padding: 10px 0px 10px 10px;
    margin-bottom: 8px;
    border-radius: 13px 13px 13px 5px;
}
.faded {
    color: var(--very-light-magenta);
}
.app-container__dialog-price {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.app-container__dialog-price__service {
    margin-left: 10px;
}
.app-container__dialog-price__price {
    margin-right: 20px;
    margin-left: auto;
    font-weight: bold;
    font-size: 1.3em;
}

/* -------- App Container dialogs ----------- */

.app-container__placeholder {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    width: calc(100% - 20px);
    margin-bottom: 10px;
    background-color: var(--white);
    border-radius: 50px;
}
.app-container__placeholder-text {
    padding: 12px 23px;
    font-size: .8em;
    color: var(--grayish-blue);
}
.app-container__placeholder-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    height: 30px;
    width: 30px;
    margin-right: 7px;
    margin-left: auto;
    background-color: var(--very-dark-desaturated-violet);
    color: var(--white);
}

/* ----------------------  CLAIM CONTAINER  ----------------------- */

.claim-container {
    text-align: center;
    width: 85%;
    margin-bottom: 100px; 
}
.claim-container__h1 {
    color: var(--very-dark-desaturated-violet);
}
.claim-container__p {
    color: var(--dark-grayish-violet);
    line-height: 1.7em;
}

/* ----------------------  ATRIBUTION  ----------------------- */

.attribution { 
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}